@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?e39mka');
  src:  url('../fonts/icomoon.eot?e39mka#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?e39mka') format('truetype'),
    url('../fonts/icomoon.woff?e39mka') format('woff'),
    url('../fonts/icomoon.svg?e39mka#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huabei:before {
  content: "\e904";
}
.icon-huanbao:before {
  content: "\e905";
}
.icon-qq:before {
  content: "\e906";
  color: #db2921;
}
.icon-weixin:before {
  content: "\e911";
}
.icon-yinghangka:before {
  content: "\e912";
}
.icon-zhifubao:before {
  content: "\e913";
}
.icon-pay:before {
  content: "\e900";
}
.icon-all:before {
  content: "\e901";
}
.icon-Completed:before {
  content: "\e902";
}
.icon-evaluated:before {
  content: "\e903";
}
.icon-add_circle:before {
  content: "\e907";
}
.icon-arrow_lift:before {
  content: "\e908";
}
.icon-check_circle:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-favorite:before {
  content: "\e90b";
}
.icon-keyboard_arrow_right:before {
  content: "\e90c";
}
.icon-remove_circle_outline:before {
  content: "\e90d";
}
.icon-shopping_cart:before {
  content: "\e90e";
}
.icon-thumb_down:before {
  content: "\e90f";
}
.icon-thumb_up:before {
  content: "\e910";
}
